[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=sofinan
WorkingDirectory=/home/sofinan/reddit/
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
